.btn
	border none
	border-radius 3px
	color: #FFF
	font-family 'Open Sans'
	font-weight 300
	height 60px
	font-size: 16 * $px
	+m(light)
		color: $primary-color
		font-weight 500
	+m(primary)
		background $primary-color
		color #FFF
	+m(large)
		width 100%
	+m(square)
		width 60px
	+m('white')
		background #FFF