.logo
	+e(wheel)
		animation rotateLogo 1s ease-out
	+e(text)
		color: #FFF
		font-size 22 * $px
		font-weight 700
		margin-top 4 * $margin

@keyframes rotateLogo {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}