.Proximity
	+e(header)
		display none
		background $primary-color
		height 200px
		padding 4 * $padding 
		+above(3)
			display flex
			justify-content space-between
		.icon
			color #FFF
			position relative
			font-size 24px
			margin-right 4*$margin
		.icon-ico-notification span
			position absolute
			top 0
			right 0
			color red
	+e(nav)
		align-self flex-end
		ul
			display flex
	+e(title)
		font-size 14 * $px
		color $grey
		line-height 19 * $px
		text-align center
		font-weight 700
		padding-top 10px
		+above(3)
			background $primary-color
			color #FFF
			border-bottom 1px solid #FFF
			padding-bottom 25px
	+e(close)
		margin 0 auto
		+above(3)
			display none
	+e(list)
		display flex
		flex-direction column
	+e(item)
		display flex
		align-items center
		min-height 80px
		border-bottom 1px solid rgba($grey, .3)
	+e(info)
		flex 2
		display flex
		flex-direction column
		justify-content space-between
		min-height 100%
	+e(address)
		color $grey
	+e(nbStation)
		color rgba($grey,.5)
	+e(nbPlace)
		color #333DAA
		flex 1
		font-size 26 * $px
		text-align center
		+m(none)
			color: #FF2D55
	+e(star)
		flex 1
		text-align center
		color #D8D8D8
		+m(active)
			color #333DAA